/*
Homepage
--------------------------------- */


 @import "../variables.scss";


@mixin backimg($url, $maxwidth) {
    background: url($url) fixed center no-repeat;
    
    img {
        max-width: $maxwidth;
    }
}

.home {
	height: 100%;
    width: 100%;

	.img-container {
        @include backimg("/background-small.jpg", 60%);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    text-align: center;
	    z-index: -1;

	    &:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		img {
		    vertical-align: middle;
		    display: inline-block;
		    width: auto;
		    max-height: 50%
		}

		@media (min-width: 480px) {
            @include backimg("/background-small.jpg", 250px);
		}
        
	    @media (min-width: 768px) {
            @include backimg("/background-medium.jpg", 300px);
		}
        
	    @media (min-width: 1200px) {
            @include backimg("/background-big.jpg", 350px);
		}
        
		@media (min-width: 2000px) {
            @include backimg("/background-giant.jpg", 350px);
		}

		@media all and (orientation: portrait) {
			background-size: auto 100%;
		}
		@media all and (orientation: landscape) {
			background-size: 100% auto;
		}
	}

	.footer-nav {
		position: fixed;
		bottom: 0;
		width: 100%;

		ul {
			list-style-type: none;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 10%;

				@media (max-width: 480px) {
					margin: 0 15px;
				}
			}
		}

		a.footer-nav-item {
			color: $text-color;
			text-decoration: none;
			font-size: 1.3em;
			font-weight: bold;

			&:hover, &:focus {
		      border-bottom: solid 2px $text-color;
		    }
		}
	}

	@media (min-width: 768px) {
		.footer-nav ul {
			margin-bottom: 40px;
		}
	}
}

