/*
Menu
--------------------------------- */


@import "../variables.scss";


.menu {
	position: fixed;
	z-index: 6;
    top: 0;
    margin-top: 1em;
    margin-left: 1em;

    &-enter {
        opacity: 0.01;

        &.menu-enter-active {
            opacity: 1;
            transition: opacity 300ms ease-in;

            @media (max-width: 767px) {
                -webkit-transition-delay: 100ms;
                transition-delay: 100ms;
                -webkit-transition: opacity 300ms ease-in 100ms;
                transition: opacity 300ms ease-in 100ms;
            }
        }
    }

    &-leave {
        opacity: 1;

        &.menu-leave-active {
            opacity: 0.01;
            -webkit-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
        }
    }

    &-layer {
        background-color: transparent;
        text-align: left;
        border: none;
        padding: 5px;
        cursor: pointer;

        @media (min-width: 768px) {
            &:focus {
                outline-color: $color-dark-green;
            }
        }

        .lines {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 3px;
            border-radius: 1px;
            margin: 6px 0;
            vertical-align: sub;
            background-color: $text-color;
            transition: background 0s 0.3s;

            &:before,
            &:after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 3px;
                border-radius: 1px;
                background-color: $text-color;
                content: "";
                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0s;
            }

            &:before {
                top: -8px;
                transition-property: top, transform;
            }

            &:after {
                bottom: -8px;
                transition-property: bottom, transform;
            }
        }
    }
}

.sidebar-nav {
    list-style-type: none;
    padding-left: 1em;
    line-height: 1em;
    width: 120px;

    li {
        font-weight: bold;
        margin: 8px 0 0;

        &:first-child {
            margin-top: 20px;
        }
    }
    
    &-item {
        display: block;
        color: $text-color;
        padding: 12px 0;
        transition: all 300ms ease-in 100ms;

        @media (min-width: 768px) {
            font-size: 1.1em;
        }

        span {
            display: inline-block;
            width: 15px;
            height: 3px;
            margin-right: 0.5em;
            border-radius: 1px;
            vertical-align: middle;
            background-color: #303030;
            transition: width 0.3s 0s;
        }

        &:hover {
            color: inherit;
            border-bottom: none;
            
            span {
                width: 25px;
            }
        }

        &.active {
            color: $color-light-green;
            pointer-events: none;

            span {
                background-color: $color-light-green;
            }
        }

        &:focus {
            outline: none;
            span {
                width: 25px;
            }
        }
    }
}



@media (max-width: 767px) {
    .menu {
        top: 2.45em;
        margin-left: 2em;

        &-layer {
            position: fixed;
            top: 33px;
            left: 28px;
            display: block;
            margin: 0 auto;
            text-align: center;
            transform-origin: center center;
            z-index: -1;

            &:focus {
                outline: none;

                .rotated-background {
                    box-shadow: 0 0 3px $text-color;
                }
            }

            .rotated-background {
                background-color: #1db7a9;
                box-shadow: 0 0 3px #888888;
                position: absolute;
                z-index: -1;
                width: 32px;
                height: 32px;
                top: 15px;
                left: -8px;
                transform: rotate(-45deg) scale(1);
                transform-origin: left top;
                transition: all 300ms;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;

                &.active, &:active {
                    top: -5px;
                    transform: rotate(0deg) scaleX(4.7) scaleY(6.6);
                    transform-origin: left top;
                    transition: all 300ms;
                    -webkit-transition: all 300ms;
                    -moz-transition: all 300ms;
                }
            }

            .lines {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 2px;
                left: 0;
                top: 0;
                transform-origin: center center;
                background-color: $text-color;
                border-radius: 1px;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 2px;
                    position: absolute;
                    background: $text-color;
                    border-radius: 1px;
                }
                &:before {
                    top: -6px;
                }
                &:after {
                    bottom: -6px;
                }
            }
        }

        > span {
            z-index: 8;
        }
    }
    
    .sidebar-nav {
        li {
            margin: 0;

            &:first-child {
                margin-top: 30px;
            }
        }
        
        &-item span {
            height: 2px;
        }
    }
}


