/*
Portfolio
--------------------------------- */


@import "../variables.scss";


.screens img {
	max-width: 100%;
}

.portfolio-links a {
    display: inline-block;
	font-size: 1.1em;
    
    &:hover {
        border-bottom: none;
        
        .svg-icon {
            color: $color-highlight;
        }
        
        span {
            border-bottom: solid 1px $color-highlight;
        }
    }
}
