/*
About
*/
.my-picture-small img {
  width: 100%; }

.my-picture-big, .my-picture-big img {
  display: none; }

.content .intro-title {
  color: #1db7a9;
  letter-spacing: 0.15em; }

.content .about-text {
  text-indent: 1.5em;
  margin-top: 2em; }
  .content .about-text .indented-text {
    padding: 0 1.2em;
    border-right: 0.2em solid #d9ead3;
    border-left: 0.2em solid #d9ead3; }
    @media (min-width: 401px) {
      .content .about-text .indented-text {
        border-right-width: 0.3em;
        border-left-width: 0.3em; } }

.content .read-more-enter {
  opacity: 0.01; }
  .content .read-more-enter.read-more-enter-active {
    opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }

.content .read-more-leave {
  opacity: 1; }
  .content .read-more-leave.read-more-leave-active {
    opacity: 0.01;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }

.content .button-centered {
  text-align: center;
  margin-top: 1.5em; }

.content .button-read {
  color: white;
  background-color: #1db7a9;
  font-size: 0.9em;
  padding: 8px;
  border: 1px solid #1db7a9;
  margin-bottom: 15px; }
  .content .button-read:hover {
    cursor: pointer; }
  .content .button-read-less {
    background-color: transparent;
    color: #1db7a9; }

.popover {
  position: absolute;
  display: block;
  opacity: 1;
  background: #fff;
  max-height: 273px;
  padding: 0.5em;
  right: 2em;
  box-shadow: 0 0 5px #888888; }
  .popover .triangle {
    position: absolute;
    top: -0.9em;
    right: 5%;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 -2px 2px #999999; }
  .popover img {
    max-width: 100%;
    vertical-align: bottom; }
  @media (max-width: 860px) {
    .popover {
      max-width: calc(80% - 11em); } }
  @media (max-width: 767px) {
    .popover {
      max-width: 80%; } }

.skill-item {
  margin: 0.8em 0; }
  .skill-item .circle {
    float: right; }
    .skill-item .circle-full, .skill-item .circle-empty {
      height: 0.8em;
      width: 0.8em;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      margin-left: 0.2em; }
    .skill-item .circle-full {
      background-color: #1db7a9; }
    .skill-item .circle-empty {
      background-color: #d9ead3; }
    .skill-item .circle a {
      cursor: pointer; }
  .skill-item .text {
    float: right;
    cursor: pointer; }

.hobby-wrap {
  margin: 0 -5px;
  text-align: center; }
  .hobby-wrap .hobby-item {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    color: inherit;
    background: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 0.5em 0;
    border: 0; }
    .hobby-wrap .hobby-item img {
      display: block;
      max-width: 50px;
      margin: auto; }
    .hobby-wrap .hobby-item .text {
      padding-top: 10px; }
    .hobby-wrap .hobby-item:hover .text small {
      border-bottom: solid 1px #303030; }
    .hobby-wrap .hobby-item.active .text small {
      font-weight: bold;
      color: #1db7a9;
      border-bottom: none; }
    .hobby-wrap .hobby-item:focus {
      -moz-outline: none;
      outline: none; }
      .hobby-wrap .hobby-item:focus .text small {
        font-weight: bold;
        border-bottom: solid 1px #303030; }
  @media (max-width: 900px) {
    .hobby-wrap .hobby-item img {
      max-width: 40px; } }
  @media (max-width: 600px) {
    .hobby-wrap .hobby-item {
      padding: 0 5px; }
      .hobby-wrap .hobby-item img {
        max-width: 35px; } }
  @media (max-width: 400px) {
    .hobby-wrap .hobby-item {
      width: 25%;
      min-height: 64px;
      margin: 0; }
      .hobby-wrap .hobby-item img {
        max-width: 30px; }
      .hobby-wrap .hobby-item .text {
        padding-top: 5px; } }

@media (min-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    margin-top: 1em;
    margin-left: 1em; }
  .menu-plus-picture {
    width: 20%;
    z-index: 1; }
    .menu-plus-picture .my-picture-big {
      display: inherit;
      position: absolute;
      top: 2em;
      left: -1em;
      z-index: -1; }
      .menu-plus-picture .my-picture-big img {
        display: inherit;
        width: 100%;
        margin-top: 3em;
        margin-left: 2em;
        width: calc(100% - 1em);
        background-color: white;
        padding: 0.5em;
        box-shadow: 0 0 5px #888888;
        opacity: 1;
        transition: opacity 200ms ease-in 100ms; }
    .menu-plus-picture.open .my-picture-big img, .menu-plus-picture:active .my-picture-big img {
      opacity: 0;
      transition: opacity 100ms ease-in; }
  .my-picture-small, .my-picture-small img {
    display: none; }
  .popover {
    right: 5em; } }

@media (min-width: 1200px) {
  .menu-plus-picture {
    width: 15%; }
    .menu-plus-picture .my-picture-big img {
      width: calc(115% - 1em); }
  .popover {
    right: 8em; } }

@media (min-width: 1400px) {
  .menu-plus-picture .my-picture-big img {
    max-width: 15em; } }

/* animation for changing images in carousel */
.carousel-animation-appear {
  opacity: 0.01; }

.carousel-animation-appear.carousel-animation-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.carousel-animation-enter {
  opacity: 0.01;
  z-index: 2;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em; }
  @media (max-width: 400px) {
    .carousel-animation-enter {
      left: 0;
      bottom: 0;
      right: 0; } }

.carousel-animation-enter.carousel-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.carousel-animation-leave {
  opacity: 1;
  position: relative;
  z-index: 1; }

.carousel-animation-leave.carousel-animation-leave-active {
  opacity: 0.01;
  transition: all 500ms ease-in; }

/* carousel */
.carousel {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 1.5em; }
  @media (max-width: 767px) and (orientation: landscape) {
    .carousel {
      width: auto; }
      .carousel .hobby-image img {
        max-height: 85vh; } }
  .carousel .hobby-image {
    position: relative;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 0 5px #888888; }
    .carousel .hobby-image p {
      margin: 0.5em 0; }
    .carousel .hobby-image img {
      max-width: 100%;
      vertical-align: middle; }
    @media (max-width: 400px) {
      .carousel .hobby-image {
        padding: .5em 0 .1em 0;
        margin-top: 0.5em; }
        .carousel .hobby-image .carousel-slide {
          margin-bottom: -.1em; } }
  .carousel-slide {
    margin-bottom: -.1em; }
  .carousel-control {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0 5px;
    width: 10%;
    overflow: hidden;
    transition: background-color 300ms ease;
    cursor: pointer; }
    .carousel-control span {
      display: inline-block;
      width: 2vw;
      height: 2vw;
      min-width: 1.27273em;
      min-height: 1.27273em;
      position: relative;
      box-sizing: border-box;
      opacity: 0.65;
      border-bottom: 3px solid white;
      border-left: 3px solid white;
      transition: opacity 300ms ease; }
    .carousel-control:hover {
      background-color: rgba(255, 255, 255, 0.2); }
      .carousel-control:hover span {
        opacity: 0.95; }
    .carousel-control:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.2); }
      .carousel-control:focus span {
        opacity: 0.95; }
    .carousel-control.carousel-control-prev {
      left: 0;
      padding-left: 12px; }
      .carousel-control.carousel-control-prev span {
        transform: rotate(45deg); }
    .carousel-control.carousel-control-next {
      right: 0;
      padding-right: 12px; }
      .carousel-control.carousel-control-next span {
        transform: rotate(-135deg); }
  .carousel-history {
    position: absolute;
    z-index: 3;
    bottom: 1.5em;
    width: 50%;
    left: 50%;
    transform: translateX(-50%); }
    .carousel-history ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      height: 8px; }
      .carousel-history ul li {
        width: 15%;
        box-sizing: border-box;
        height: inherit;
        position: relative; }
        .carousel-history ul li:not(:last-of-type) {
          margin-right: 5%; }
        .carousel-history ul li button {
          border: none;
          outline: none;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: background-color 300ms ease; }
          .carousel-history ul li button.active {
            background-color: rgba(255, 255, 255, 0.95); }
          .carousel-history ul li button:focus {
            transform: scale(1.1);
            background-color: rgba(255, 255, 255, 0.95); }
