/*
HTML
Body
*/


@import "./globals.scss";


html,
body {
 	color: $text-color;
}

html{
    min-height: 100%;/* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
	height: 100%; /* force the BODY element to match the height of the HTML element */
	margin: 0;
	padding: 0;
 	font-family: 'Josefin Slab', serif;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

h1 {
	font-size: 4em;
	margin: 0 0 0.5em;
}

h2 {
	font-size: 2em;
    margin-top: 2em;
}

h3 {
	font-size: 1.3em;
}

p {
    line-height: 1.2em;
}

a {
	text-decoration: none;
	color: $color-green;

	&:hover {
		border-bottom: dotted 1px $color-green;
	}
}

mark {
	background-color: $color-light-green;
	color: $text-color;
	padding: 2px 3px;
}

button:focus {
	outline: none;
}


@media (min-width: 768px) {
	body {
	 	background: $color-green;
	}

	p {
	    line-height: 1.5em;
	}
}

