/*
Contact
*/
.social-nav ul {
  list-style: none;
  padding: 0.5em 0; }
  .social-nav ul li {
    display: inline-block;
    margin-right: 1em; }

.social-nav img {
  max-width: 35px;
  max-height: 35px; }

@media (min-width: 768px) {
  .full-height-div {
    max-width: 1400px;
    margin: 0 auto; }
    .full-height-div .container {
      position: initial; }
      .full-height-div .container .white-box {
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 20%;
        overflow: hidden;
        z-index: -1;
        /* Remove this line if it's not going to be a background! */ } }

@media (min-width: 1200px) {
  .full-height-div .container .white-box {
    margin: 0 auto;
    width: 70%;
    max-width: 980px; } }
