@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Slab"), url("/Josefin Slab regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Slab 700"), url("/Josefin Slab 700.ttf") format("truetype"); }

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local("Dancing Script"), url("/Dancing Script 700.ttf") format("truetype"); }

/*
HTML
Body
*/
html,
body {
  color: #303030; }

html {
  min-height: 100%;
  /* make sure it is at least as tall as the viewport */
  position: relative; }

body {
  height: 100%;
  /* force the BODY element to match the height of the HTML element */
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif; }

h1, h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center; }

h1 {
  font-size: 3.5em;
  margin: 0 0 0.5em; }

h2 {
  font-size: 2em;
  margin: 1em 0 0.5em 0; }

h3 {
  font-size: 1.3em; }

p {
  line-height: 1.2em; }

a {
  text-decoration: none;
  color: #1db7a9; }
  a:hover {
    border-bottom: dotted 1px #1db7a9; }

mark {
  background-color: #d9ead3;
  color: #303030;
  padding: 2px 3px; }

button:focus {
  outline: none; }

@media (min-width: 401px) {
  h1 {
    font-size: 4em; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1.3em; } }

@media (min-width: 768px) {
  body {
    background: #1db7a9; }
  h2 {
    margin-top: 1.5em;
    margin-top: 2em; }
  p {
    line-height: 1.5em; } }

/*
Menu
 */
.menu {
  position: fixed;
  z-index: 1;
  top: 1em;
  margin-left: 1em; }
  .menu-enter {
    opacity: 0.01; }
    .menu-enter.menu-enter-active {
      opacity: 1;
      -webkit-transition: opacity 200ms ease-in;
      -moz-transition: opacity 200ms ease-in;
      transition: opacity 200ms ease-in; }
      @media (max-width: 767px) {
        .menu-enter.menu-enter-active {
          -webkit-transition: opacity 200ms ease-in 100ms;
          -moz-transition: opacity 200ms ease-in 100ms;
          transition: opacity 200ms ease-in 100ms; } }
  .menu-leave {
    opacity: 1; }
    .menu-leave.menu-leave-active {
      opacity: 0.01;
      -webkit-transition: opacity 100ms ease-in;
      -moz-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in; }
  .menu .menu-layer {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    cursor: pointer; }
    .menu .menu-layer .lines {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 3px;
      border-radius: 1px;
      margin: 6px 0;
      vertical-align: sub;
      background-color: #303030;
      -webkit-transition: background 0s 0.3s;
      -moz-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
      .menu .menu-layer .lines:before, .menu .menu-layer .lines:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background-color: #303030;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
        -moz-transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        -moz-transition-delay: 0.3s, 0s;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s; }
      .menu .menu-layer .lines:before {
        top: -8px;
        -webkit-transition-property: top, transform;
        -moz-transition-property: top, transform;
        transition-property: top, transform; }
      .menu .menu-layer .lines:after {
        bottom: -8px;
        -webkit-transition-property: bottom, transform;
        -moz-transition-property: bottom, transform;
        transition-property: bottom, transform; }
  .menu ul.sidebar-nav {
    list-style-type: none;
    padding-left: 1em;
    line-height: 1em; }
    .menu ul.sidebar-nav li {
      font-weight: bold;
      font-family: 'Josefin Slab', serif;
      margin: 2em 0 0; }
      .menu ul.sidebar-nav li .sidebar-nav-item {
        color: #303030;
        border-bottom: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
        .menu ul.sidebar-nav li .sidebar-nav-item span {
          display: inline-block;
          width: 15px;
          height: 3px;
          margin-right: 0.5em;
          border-radius: 1px;
          vertical-align: middle;
          background-color: #303030;
          -webkit-transition: width 0.3s 0s;
          -moz-transition: width 0.3s 0s;
          transition: width 0.3s 0s; }
        .menu ul.sidebar-nav li .sidebar-nav-item:hover span {
          width: 25px; }
        .menu ul.sidebar-nav li .sidebar-nav-item.active {
          color: #d9ead3;
          pointer-events: none; }
          .menu ul.sidebar-nav li .sidebar-nav-item.active span {
            background-color: #d9ead3; }

@media (max-width: 767px) {
  .menu {
    top: 2.45em;
    margin-left: 2em; }
    .menu .menu-layer {
      position: fixed;
      top: 1em;
      left: 1em;
      display: block;
      width: 45.5px;
      height: 4em;
      margin: 0 auto;
      text-align: center;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      z-index: -1; }
      .menu .menu-layer .rotated-background {
        background-color: #1db7a9;
        width: 32px;
        height: 32px;
        box-shadow: 0 0 5px #888888;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
        .menu .menu-layer .rotated-background.active {
          top: 0.6em;
          width: 150px;
          height: 210px;
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 200ms ease-in-out;
          -moz-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out; }
      .menu .menu-layer .lines {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 2px;
        left: 0;
        top: 1.45em;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        background-color: #303030;
        border-radius: 1px; }
        .menu .menu-layer .lines:before, .menu .menu-layer .lines:after {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          background: #303030;
          border-radius: 1px; }
        .menu .menu-layer .lines:before {
          top: -6px; }
        .menu .menu-layer .lines:after {
          bottom: -6px; }
    .menu > span {
      z-index: 1; }
      .menu > span ul.sidebar-nav li {
        margin: 1.5em 0; }
        .menu > span ul.sidebar-nav li:first-child {
          margin-top: 2.5em; }
        .menu > span ul.sidebar-nav li .sidebar-nav-item span {
          height: 2px; } }

/*
Homepage
 */
.home {
  height: 100%;
  width: 100%; }
  .home .masthead {
    background-color: transparent;
    text-align: center; }
  .home .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/background-small.jpg") fixed center no-repeat;
    text-align: center;
    /* Align center inline elements */
    z-index: -1; }
    .home .img-container:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .home .img-container img {
      vertical-align: middle;
      display: inline-block;
      width: auto;
      max-width: 12em;
      max-height: 50%; }
    @media (min-width: 480px) {
      .home .img-container {
        background: url("/background-small.jpg") fixed center no-repeat; }
        .home .img-container img {
          max-width: 15em; } }
    @media (min-width: 768px) {
      .home .img-container {
        background: url("/background-medium.jpg") fixed center no-repeat; }
        .home .img-container img {
          max-width: 20em; } }
    @media (min-width: 1200px) {
      .home .img-container {
        background: url("/background-big.jpg") fixed center no-repeat; }
        .home .img-container img {
          max-width: 22em; } }
    @media (min-width: 2000px) {
      .home .img-container {
        background: url("/background-giant.jpg") fixed center no-repeat; } }
    @media all and (orientation: portrait) {
      .home .img-container {
        background-size: auto 100%; } }
    @media all and (orientation: landscape) {
      .home .img-container {
        background-size: 100% auto; } }
  .home .footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%; }
    .home .footer-nav ul {
      list-style-type: none;
      padding: 0;
      text-align: center; }
      .home .footer-nav ul li {
        display: inline-block;
        margin: 0 10%; }
        @media (max-width: 480px) {
          .home .footer-nav ul li {
            margin: 0 1em; } }
    .home .footer-nav a.footer-nav-item {
      color: #303030;
      text-decoration: none;
      font-size: 1.3em;
      font-weight: bold; }
      .home .footer-nav a.footer-nav-item:hover, .home .footer-nav a.footer-nav-item:focus {
        border-bottom: dotted 1px #303030; }
  @media (min-width: 768px) {
    .home .footer-nav ul {
      margin-bottom: 2em; }
    .home .masthead h3 {
      margin-top: 2em; } }

/*
Wrap
Container
Masthead
Content
Row
*/
/* Wrap */
.wrap {
  max-width: 1400px;
  position: relative;
  width: 100%;
  margin: 0 auto; }

/* Container */
.container {
  position: relative;
  background-color: white; }
  .container .masthead {
    width: 100%;
    text-align: center; }
    .container .masthead .masthead-title {
      margin: 0;
      padding: 1em 0;
      line-height: 1em; }
      @media (max-width: 767px) {
        .container .masthead .masthead-title {
          background-color: #1db7a9;
          font-size: 1em; }
          .container .masthead .masthead-title a {
            color: #d9ead3; } }

/* Content */
.content {
  padding: 2em;
  text-align: justify; }
  @media (max-width: 400px) {
    .content {
      padding: 1em; } }
  .content a:hover, .content a:focus {
    border-bottom: dotted 1px #1db7a9; }
  .content .row {
    overflow: hidden; }
    .content .row .col-6:last-child {
      margin-top: 2em; }
    @media (min-width: 600px) and (max-width: 767px), (min-width: 860px) {
      .content .row .col-6 {
        width: 50%;
        float: left;
        box-sizing: border-box; }
        .content .row .col-6:first-child {
          padding-right: 1em; }
        .content .row .col-6:last-child {
          padding-left: 1em;
          margin-top: 0; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    margin-left: 20%; }
    .container .masthead {
      position: fixed;
      width: 80%;
      top: 0; }
      .container .masthead .opaque-background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.9;
        z-index: -1; }
  .content {
    padding: 5em; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    margin: 0 15%; }
    .container .masthead {
      width: 70%;
      max-width: 980px; }
  .content {
    padding: 5em 8em; } }

/*
About
*/
.my-picture-small img {
  width: 100%; }

.my-picture-big, .my-picture-big img {
  display: none; }

.popover {
  position: absolute;
  display: block;
  opacity: 1;
  background: #fff;
  max-height: 273px;
  padding: 0.5em;
  right: 2em;
  box-shadow: 0 0 5px #888888; }
  .popover .triangle {
    position: absolute;
    top: -0.9em;
    right: 5%;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 -2px 2px #999999; }
  .popover img {
    max-width: 100%;
    vertical-align: bottom; }
  @media (max-width: 860px) {
    .popover {
      max-width: calc(80% - 11em); } }
  @media (max-width: 767px) {
    .popover {
      max-width: 80%; } }

.skill-item {
  margin: 0.8em 0; }
  .skill-item .circle {
    float: right; }
    .skill-item .circle-full, .skill-item .circle-empty {
      height: 0.8em;
      width: 0.8em;
      display: inline-block;
      border-radius: 50%;
      margin-left: 0.2em; }
    .skill-item .circle-full {
      background-color: #1db7a9; }
    .skill-item .circle-empty {
      background-color: #d9ead3; }
    .skill-item .circle a {
      cursor: pointer; }
  .skill-item .text {
    float: right;
    cursor: pointer; }

.hobby-wrap {
  margin: 0 -5px; }
  .hobby-wrap .hobby-item {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    color: inherit;
    background: none;
    cursor: pointer;
    font: inherit;
    text-align: center;
    padding: 5px;
    margin: 0.5em 0;
    border: 0; }
    .hobby-wrap .hobby-item img {
      display: block;
      max-width: 50px;
      margin: auto; }
    .hobby-wrap .hobby-item .text {
      padding-top: 0.5em; }
    .hobby-wrap .hobby-item:hover .text small {
      border-bottom: dotted 1px #303030; }
    .hobby-wrap .hobby-item.active .text small {
      font-weight: bold;
      color: #1db7a9;
      border-bottom: dotted 1px #1db7a9; }
  @media (max-width: 600px) {
    .hobby-wrap .hobby-item {
      padding: 0 5px; }
      .hobby-wrap .hobby-item img {
        max-width: 35px; } }
  @media (max-width: 400px) {
    .hobby-wrap .hobby-item {
      width: 25%;
      min-height: 64px;
      margin: 0; }
      .hobby-wrap .hobby-item img {
        max-width: 30px; }
      .hobby-wrap .hobby-item .text {
        padding-top: 0.2em;
        font-size: .95em; } }

.hobby-image {
  text-align: center;
  padding: 0.5em;
  margin-top: 1.5em;
  box-sizing: border-box;
  box-shadow: 0 0 5px #888888; }
  .hobby-image p {
    margin: 0.5em 0; }
  .hobby-image img {
    max-width: 100%;
    vertical-align: middle; }
  @media (max-width: 400px) {
    .hobby-image {
      padding: 5px 0 0 0;
      margin-top: 0.5em; } }

@media (min-width: 768px) {
  .menu-plus-picture {
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 1; }
    .menu-plus-picture .menu {
      position: initial;
      margin-top: 1em;
      margin-left: 1em; }
    .menu-plus-picture .my-picture-big {
      display: inherit; }
      .menu-plus-picture .my-picture-big img {
        display: inherit;
        position: relative;
        width: 100%;
        margin-top: 3em;
        margin-left: 2em;
        width: 100%;
        background-color: white;
        padding: 0.5em;
        box-shadow: 0 0 5px #888888; }
  .my-picture-small, .my-picture-small img {
    display: none; }
  .popover {
    right: 5em; } }

@media (min-width: 1200px) {
  .menu-plus-picture {
    width: 15%; }
    .menu-plus-picture .my-picture-big img {
      width: 115%; }
  .popover {
    right: 8em; } }

@media (min-width: 1400px) {
  .menu-plus-picture .my-picture-big img {
    max-width: 15em; } }

/*
Portfolio
*/
.screens img {
  max-width: 100%; }

.github-icon {
  max-height: 1.3em;
  vertical-align: text-bottom;
  margin-right: 0.5em; }

/*
Contact
*/
.social-nav ul {
  list-style: none;
  padding: 0.5em 0; }
  .social-nav ul li {
    display: inline-block;
    margin-right: 1em; }

.social-nav img {
  max-width: 35px;
  max-height: 35px; }

@media (min-width: 768px) {
  .full-height-div {
    max-width: 1400px;
    margin: 0 auto; }
    .full-height-div .container {
      position: initial; }
      .full-height-div .container .white-box {
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 20%;
        overflow: hidden;
        z-index: -1;
        /* Remove this line if it's not going to be a background! */ } }

@media (min-width: 1200px) {
  .full-height-div .container .white-box {
    margin: 0 auto;
    width: 70%;
    max-width: 980px; } }

/*
Loading
 */
@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(220deg); } }

@keyframes animate2 {
  0% {
    box-shadow: inset #303030 0 0 0 17px;
    transform: rotate(-140deg); }
  50% {
    box-shadow: inset #303030 0 0 0 2px; }
  100% {
    box-shadow: inset #303030 0 0 0 17px;
    transform: rotate(140deg); } }

.loading-screen {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px); }
  .loading-screen:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content: '';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

svg {
  animation: rotate 1.5s linear infinite;
  font-size: 2.5em; }

.loading-box {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0 auto; }
  .loading-box:before, .loading-box:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #1db7a9;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -1em 0 0 #1db7a9;
    animation: loader 1s linear infinite; }
  .loading-box:after {
    top: 50%;
    bottom: 0;
    animation-delay: .25s; }

@keyframes loader {
  0%,
  100% {
    box-shadow: -1em 0 0 transparent;
    background-color: #1db7a9; }
  50% {
    box-shadow: -1em 0 0 #1db7a9;
    background-color: transparent; } }

.img-loading {
  display: none; }

.hobby-image .img-loading {
  display: initial;
  opacity: 0; }
