@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  src: local('Josefin Slab regular'),
       url('/JosefinSlab-regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab 700'),
       url('/JosefinSlab-700.ttf') format('truetype'),
}

@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: normal;
  src: local('Sniglet'),
       url('/Sniglet-regular.ttf') format('truetype'),
}


@import "./globals.scss";
@import "./base.scss";
@import "./menu.scss";
@import "./home.scss";
@import "./content.scss";
@import "./about.scss";
@import "./portfolio.scss";
@import "./contact.scss";
@import "./loader.scss";
