/*
Menu
 */
.menu {
  position: fixed;
  z-index: 6;
  top: 1em;
  margin-left: 1em; }
  .menu-enter {
    opacity: 0.01; }
    .menu-enter.menu-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in; }
      @media (max-width: 767px) {
        .menu-enter.menu-enter-active {
          -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
          -webkit-transition: opacity 300ms ease-in 100ms;
          transition: opacity 300ms ease-in 100ms; } }
  .menu-leave {
    opacity: 1; }
    .menu-leave.menu-leave-active {
      opacity: 0.01;
      transition: opacity 100ms ease-in; }
  .menu .menu-layer {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    cursor: pointer; }
    .menu .menu-layer .lines {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 3px;
      border-radius: 1px;
      margin: 6px 0;
      vertical-align: sub;
      background-color: #303030;
      transition: background 0s 0.3s; }
      .menu .menu-layer .lines:before, .menu .menu-layer .lines:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background-color: #303030;
        content: "";
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s; }
      .menu .menu-layer .lines:before {
        top: -8px;
        transition-property: top, transform; }
      .menu .menu-layer .lines:after {
        bottom: -8px;
        transition-property: bottom, transform; }
  .menu ul.sidebar-nav {
    list-style-type: none;
    padding-left: 1em;
    line-height: 1em; }
    .menu ul.sidebar-nav li {
      font-weight: bold;
      font-family: 'Josefin Slab', serif;
      margin: 2em 0 0; }
      .menu ul.sidebar-nav li .sidebar-nav-item {
        color: #303030;
        border-bottom: none;
        transition: all 0.3s; }
        .menu ul.sidebar-nav li .sidebar-nav-item span {
          display: inline-block;
          width: 15px;
          height: 3px;
          margin-right: 0.5em;
          border-radius: 1px;
          vertical-align: middle;
          background-color: #303030;
          transition: width 0.3s 0s; }
        .menu ul.sidebar-nav li .sidebar-nav-item:hover span {
          width: 25px; }
        .menu ul.sidebar-nav li .sidebar-nav-item.active {
          color: #d9ead3;
          pointer-events: none; }
          .menu ul.sidebar-nav li .sidebar-nav-item.active span {
            background-color: #d9ead3; }

@media (max-width: 767px) {
  .menu {
    top: 2.45em;
    margin-left: 2em; }
    .menu .menu-layer {
      position: fixed;
      top: 1em;
      left: 1em;
      display: block;
      width: 45.5px;
      height: 4em;
      margin: 0 auto;
      text-align: center;
      transform-origin: center center;
      z-index: -1; }
      .menu .menu-layer .rotated-background {
        background-color: #1db7a9;
        box-shadow: 0 0 5px #888888;
        position: absolute;
        z-index: -1;
        width: 32px;
        height: 32px;
        top: 2em;
        left: 0;
        transform: rotate(-45deg) scale(1);
        transform-origin: left top;
        transition: all 300ms;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms; }
        .menu .menu-layer .rotated-background.active, .menu .menu-layer .rotated-background:active {
          top: 0.8em;
          transform: rotate(0deg) scaleX(4.7) scaleY(6.6);
          transform-origin: left top;
          transition: all 300ms;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms; }
      .menu .menu-layer .lines {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 2px;
        left: 0;
        top: 1.45em;
        transform-origin: center center;
        background-color: #303030;
        border-radius: 1px; }
        .menu .menu-layer .lines:before, .menu .menu-layer .lines:after {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          background: #303030;
          border-radius: 1px; }
        .menu .menu-layer .lines:before {
          top: -6px; }
        .menu .menu-layer .lines:after {
          bottom: -6px; }
    .menu > span {
      z-index: 8; }
      .menu > span ul.sidebar-nav li {
        margin: 1.5em 0; }
        .menu > span ul.sidebar-nav li:first-child {
          margin-top: 2.5em; }
        .menu > span ul.sidebar-nav li .sidebar-nav-item span {
          height: 2px; } }
